@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../public/fonts/avenir-next-regular.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next Bold';
  src:
      url('../public/fonts/AvenirNext-Medium.woff2') format('woff2'),
      url('../public/fonts/AvenirNext-Medium.woff') format('woff');
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
  position: absolute;
}

.form2 {
  width: 700px;
  position: absolute;
  top: -300px;
  display: flex;
  margin: 0 auto;
}

.form1 {
  width: 600px;
  position: absolute;
  top: -300px;
  display: flex;
  margin: 0 auto;
}

.home {
  width: 100%;
  height: 100%;
}

.header {
  font-family: "Avenir Next Medium", sans-serif;;
  font-size: 120px;
  letter-spacing: 4px;
  color: #3c3c3c;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-direction: normal;
}

.content {
  display: flex;
  margin: 0 auto;
  top: 50%;
  justify-content: space-between;
  position: relative;
  max-width: 750px;
  flex-direction: row;
}

.content-0 {
  max-width: 550px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.blurb {
  font-family: "Quattrocento", serif;
  font-size: 22px;
  line-height: 41px;
  letter-spacing: 0.42px;
  color: #838b3d;
  margin-bottom: 50px;
  position: relative;
  -webkit-box-direction: normal;
}

.scroll{
  overflow-y: scroll;
}

.an1 {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(100%, 0); }
}

.stripe {
  width: 100px;
  height: 4px;
  position: relative;
  background-color: #691243;
}

.navBar {
  position: relative;
  top: 50%;
}

.link {
  display: block;
  position: relative;
  color: #691243;
  margin-bottom: 20px;
  text-decoration: none;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
  font-family: Avenir Next Bold,sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  cursor: pointer;
}

.link:hover {
  animation: pulse .9s infinite;
}

.a {
  color: #691243;
  cursor: pointer;
}

@keyframes pulse {
  from { transform: none; }
  50% { transform: scale(1.03); }
  to { transform: none; }
}

